images/blog_pictures/*.jpg
images/blog_pictures/*.jpeg
images/blog_pictures/*.png
!images/blog_pictures/placeholder.jpg
schools/
error_log
*.JPG
*.jpeg
sql/learn_and_help_db - Copy.sql
sql/books-dev.sql
blog_cleanup.php
*.png
